<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" href="../static/custom/css/style.css" th:href="@{/custom/css/style.css}" type="text/css"/>
    <title>Qualifinder - [Admin] All People</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <h2>All People list</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td class="text-center">Name</td>
                            <td class="text-center">Surname</td>
                            <td class="text-center">Email</td>
                            <td class="text-center">Phone</td>
                            <td class="text-center">Skills</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" th:each="person : ${people}">
                            <td th:text="${person.name}"></td>
                            <td th:text="${person.surname}"></td>
                            <td th:text="${person.email}"></td>
                            <td th:text="${person.phone}"></td>
                            <td th:text="${person.skills}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" th:src="@{/jquery/jquery-3.2.1.js}"
        type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>